<h1>New Posts!</h1>
<!--enctype="multipart/form-data" is for using "multer"-->
<form
  method="post"
  action="/posts"
  enctype="multipart/form-data"
  id="newPostForm"
>
  <div><input type="text" name="post[title]" placeholder="Enter Title" /></div>
  <div><input type="text" name="post[price]" placeholder="Enter Price" /></div>
  <div>
    <!--here name must match the string we passed in post route using "upload.array("images",4)
    1)accept="image/*"  meaning "any image file(jpg,png..etc)"
    2)"multiple" specifies that the user is allowed to enter more than one value in the <input>
     element-->
    <input
      type="file"
      accept="image/*"
      name="images"
      multiple
      id="imageUploads"
    />
  </div>
  <div>
    <textarea
      name="post[description]"
      placeholder="Enter Description"
    ></textarea>
  </div>
  <div>
    <input type="text" name="post[location]" placeholder="Enter Location" />
  </div>

  <div><input type="submit" /></div>
</form>

<script>
  let newPostForm = document.getElementById("newPostForm");
  newPostForm.addEventListener("submit", (event) => {
    let imageUploads = getElementById("imageUploads");
    if (imageUploads > 4) {
      event.preventDefault();
      alert("You can upload 4 images at max");
    }
  });
</script>
